<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marlison é lindo</title>

    <style>
        h1{
            text-align: center;
            font-size: 3.5em;
            margin-top: 5.5em;
            color: white;
            text-shadow: 1px 1px 1px black;
        }
        body{
            background-color: pink;
        }
    </style>

</head>
<body>
    
    <h1>Marlison é um amor</h1>
    <img src="img/Marlison.png" alt="">

</body>
</html>